
<div class="contact_part1">
<p> Join us using the form fill.</p>
<p></p></div>
<div class="contact_part2">
  <form method="post" id="cntctfrm_contact_form" action="http://localhost/GIT/healthcheque1.3/healthcheque/contact/" enctype="multipart/form-data"><div style="text-align: left; padding-top: 5px;">
					<label for="cntctfrm_contact_name">Name:<span class="required"> *</span></label>
				</div><div style="text-align: left;">
					<input class="text" size="40" value="" name="cntctfrm_contact_name" id="cntctfrm_contact_name" style="text-align: left; margin: 0;" type="text">
				</div><div style="text-align: left;">
					<label for="cntctfrm_contact_email">Email Address:<span class="required"> *</span></label>
				</div><div style="text-align: left;">
					<input class="text" size="40" value="" name="cntctfrm_contact_email" id="cntctfrm_contact_email" style="text-align: left; margin: 0;" type="text">
				</div>
			<div style="text-align: left;">
					<label for="cntctfrm_contact_subject">Subject:<span class="required"> *</span></label>
				</div><div style="text-align: left;">
					<input class="text" size="40" value="" name="cntctfrm_contact_subject" id="cntctfrm_contact_subject" style="text-align: left; margin: 0;" type="text">
				</div>

				<div style="text-align: left;">
					<label for="cntctfrm_contact_message">Message:<span class="required"> *</span></label>
				</div><div style="text-align: left;">
					<textarea rows="5" cols="30" name="cntctfrm_contact_message" id="cntctfrm_contact_message"></textarea>
				</div><div style="text-align: left; padding-top: 8px;">
					<input value="send" name="cntctfrm_contact_action" type="hidden"><input value="Version: 3.30" type="hidden">
					<input value="en" name="cntctfrm_language" type="hidden">
					<input value="Submit" style="cursor: pointer; margin: 0pt; text-align: center;margin-bottom:10px;" type="submit"> 
				</div>
				</form>
  	  </div>
<p></p>